<div class="container">
<div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
  <strong>11/25/20 4pm EST</strong> There is an issue impacting OTR Diagnostics accounts which we are working to resolve. We are sorry for the inconvenience. 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>