<!-- <strong class="mb-5">Download OTR Diagnostics App</strong><br> -->
<a href="https://apps.apple.com/us/app/id1508165885" class="mt-2">
  <img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Download_on_the_App_Store_Badge_US-UK_blk_092917-01.png?v=1584105244" class="lazyload mb-2" alt="otr diagnostics" width="100%" height="auto" style="max-width: 110px;"></a>
<a href="https://play.google.com/store/apps/details?id=com.otrperformance.simplcan" class="mt-2">
  <img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/google-play-badge-01.png?v=1584106513" class="lazyload mb-2" alt="otr diagnostics android" width="100%" height="auto" style="max-width: 120px;"> </a>
