<hr>

<div class="container mt-4 mb-4 p-0 text-center">
  <!-- Button to Open the Modal -->
  <a data-toggle="modal" data-target="#myModal">
  <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/fleet-bundling-5.png?v=1683292699" width="100%" style="cursor: pointer;">
  </a>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-2">BUY MORE & SAVE UP TO 10%</span></h4>
          <p class="mb-4">Equip your fleet with reset tools and save.</p>
         
         <table class="table" style="background-color: white;">
    <thead>
      <tr>
        <th># of Reset Tools</th>
        <th>DISCOUNT</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>2</h5></td>
        <td><h5>Save 5%</h5></td>
        
      </tr>
      <tr>
        <td><h5>3-4</td>
        <td><h5>Save 7%</h5></td>
   
      </tr>
      <tr>
        <td><h5>5+</td>
        <td><h5>Save 10%</h5></td>
       
      </tr>
    </tbody>
  </table>
  <div class="mb-4">
  <p>Have a fleet with different engines?</p>
  <a href="/collections/reset-tools" class="btn-otr-outline mb-4">Mix and Match</a>
  </div>
          <div class="mb-3">
   <p>Fleet of more trucks?</p>
  <a href="/collections/bundles#fleetform" class="btn-otr-outline mt-0">Talk to a sales rep</a>
          </div>
        </div>
        
<!--         
        <div class="modal-footer">
          <button type="button" class="btn-otr" data-dismiss="modal" style="margin:auto;">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
  
</div>

<hr>