<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p> <b>OTR Diagnostics</b> - Advanced Mobile Device Diagnostics. Used with your mobile device to send commands, read fault codes and view live data parameters. </p><br>
    </div>
     <div class="col-md-6">
       <p> <b>OTR Reset Tool</b> - Plug-and-play automated tool that gives you the power to run commands, including a forced DPF regen, in less than 5 minutes with no buttons or menus.</p><br>
      </div>
    </div>
    <hr>
   <div class="row">
     <div class="col-md-12 text-center">
       <h4> Not sure which tool to get?</h4>
       <p >Take our quiz and find the perfect tool recommendation</p>
      
       <button class="btn-otr mt-1"><a href="https://otrperformance.com/pages/take-our-quiz" style="color: #fff;">Discover your tool</a></button>
       
     </div>
     </div>
  </div>