<div class="mb-4 text-center">
    <!-- Button trigger modal -->
    <a class="mb-3" style="text-decoration: underline; color: #339933; cursor: pointer;" data-toggle="modal" data-target="#exampleModalScrollable3"><i class="fa-solid fa-rectangle-pro"></i> Subscription Features </a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable3" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="text-center">Pro Plan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body text-center">
                  <div class="container section" style="margin: 0; padding: 0;">
                    <table>
                        <thead>
                            <tr>
                              <div class="card-header text-center" style="background-color: #339933;"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/multi-truck_f7850cda-4be2-488e-8e99-3d2f02b23192.svg?v=1627659588" class="otr-icon lazyload" alt="otricon">
                                <p style="font-size: 26px; color: white;"><strong> Pro </strong></p>
                              </div>
                            </tr>
                        </thead>
                        <tbody class="oldCompare">
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus"  data-placement="right"  title="Multiple Vehicles"  data-content="Connect to an unlimited number of vehicles of different makes and engines with full access">Multiple Vehicle Vin #</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover"  data-trigger="focus" title="Read Inactive Fault Codes"  data-content="Fault codes that indicate that there was a previous issue.">Read Inactive Fault Codes</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover"  data-trigger="focus" title="Active Fault Codes"  data-content="Fault codes that determine that there is an existing issue. Certain active fault codes can be reset, however, if the problem has not been fixed the fault code will reappear prompting you to seek service.">Read Active Fault Codes</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Reset Fault Codes"  data-content="To get rid of active codes, all you have to do is reset the fault codes from the commands menu.">Reset Active Fault Codes</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Reset Emission Derates"  data-content="DEF / SCR derates have stored values in the engine control module and aftertreatment control module (ECM/ACM). Reset of the DEF derate is necessary to perform after replacement of aftertreatment components.">Reset Emission Derates</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover"  data-trigger="focus" title="Start Forced DPF Regen"  data-content="A forced DPF regen is performed when a diagnostic scan tool, such as the OTR Diagnostics, starts the regen process. The DPF soot load could be too high for a passive or active regen to occur, meaning you'll need to perform a forced DPF regen.">Start Forced DPF Regen</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus"  title="Offline Mode"  data-content="Ability to use OTR Diagnostics even in locations with no service or data.">Offline Mode</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover"  data-trigger="focus" title="Fault Code History"  data-content="Quickly reference recent fault codes, how often they occured and date stamp when it first occured.">Fault Code History</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover"  data-trigger="focus" title="Command History"  data-content="View commands with status history for how long forced DPF regen lasted, clearing fault codes and reset aftertreatment status.">Command History</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus"  title="Enhanced Fault Code Description"  data-content="You'll be provided with enhanced detail fault code information such as description, troubleshooting, symptoms, possible fixes and more.">Enhanced Fault Code Description</a></td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-check" aria-hidden="true"></i>  <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover"  data-trigger="focus" title="Live Data"  data-content="Ability to view live parameters making sure you are informed of how your vehicle is doing parameters include; DEF Fluid Level, DPF Soot Level, EGR Value Position, Aftertreatment Exhaust Temps and many more.">Live Data</a></td>
                            </tr>

                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-otr" data-dismiss="modal" style="margin:auto;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
