<script src="https://kit.fontawesome.com/7faa0967aa.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- How it works -->
<div class="container">
<h3 class="text-center mb-0">HOW IT WORKS</h3>
<h6 class="text-center mt-0 mb-3">Set up in a few simple steps.</h6>
<div class="how-it-works">
<div class="row text-white">
<div class="col-md-3 col-sm-12">
<div class="text-center mb-4"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Collection.jpg?v=1597691304" class="img-thumbnail rounded-circle lazyload" style="max-height: 175px;" alt="subscriptions" />
<h4 class="text-white mt-2 mb-1">Step 1</h4>
<p>Select Subscription Plan, Diagnostic Adapter and Harness</p>
</div>
</div>
<div class="col-md-3 col-sm-12">
<div class="text-center mb-4"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/OTRLinkWebImage.jpg?v=1607456754" class="img-thumbnail rounded-circle lazyload" style="max-height: 175px;" alt="adapterconnect" />
<h4 class="text-white mt-2 mb-1">Step 2</h4>
<p>Connect Adapter To Vehicle Diagnostic Plug</p>
</div>
</div>
<div class="col-md-3 col-sm-12">
<div class="text-center mb-4"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Dx-App.jpg?v=1607457627" class="img-thumbnail rounded-circle lazyload" style="max-height: 175px;" alt="app" />
<h4 class="text-white mt-2 mb-1">Step 3</h4>
<p>Download OTR Diagnostics App For Your Mobile Device</p>
</div>
</div>
<div class="col-md-3 col-sm-12">
<div class="text-center mb-4"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/P1155822-2.jpg?v=1588003691" class="img-thumbnail rounded-circle lazyload" style="max-height: 175px;" alt="command" />
<h4 class="text-white mt-2 mb-1">Step 4</h4>
<p>Begin Using OTR Diagnostics App</p>
</div>
</div>
</div>
</div>
</div>
<hr class="hr-otr" /><!--videos-->
<div class="container">
<h3 class="text-center mt-4 mx-auto" style="max-width: 550px;">How to videos</h3>
<div class="row">
<div class="col-md-3 mt-3 mb-3">
<p class="badge badge-success">How to</p>
<h5>2018 Peterbilt 587 Paccar MX</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QWd54g7UrSk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
<div class="col-md-3 mt-3 mb-3">
<p class="badge badge-success">How to</p>
<h5>2018 Freightliner DD15</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HdEMaVEm0kE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
<div class="col-md-3 mt-3 mb-3">
<p class="badge badge-success">How to</p>
<h5>2015 Volvo D13 Engine</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gJVd1eGDrNo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
<div class="col-md-3 mt-3 mb-3">
<p class="badge badge-success">How to</p>
<h5>2014 Freightliner Cummins ISX</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6HDYRpBtp2Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
</div>
</div>
<hr class="hr-otr" /><!--select engine-->
<div class="container pt-4 pb-4">
<h3 class="text-center mb-0">Select Your Engine To Start</h3>
<p class="text-center mb-4">Includes subscription, adapter, and harness.</p>
<div class="row">
<div class="col-md-3 col-xs-6 text-center pb-4"><a href="https://otrperformance.com/products/otr-diagnostics-cummins"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Cummins_b5df9c43-f0e4-49f8-a99e-60b9193e0904.jpg?v=1594758377" class="lazyload" alt="Cummins Package" width="100%" height="auto" style="max-width: 300px; border-radius: 5px;" /></a></div>
<div class="col-md-3 col-xs-6 text-center pb-4"><a href="https://otrperformance.com/products/otr-diagnostics-detroit-diesel-package"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Detroit_Diesel.jpg?v=1594757898" class="lazyload" alt="Detroit Diesel Package" width="100%" height="auto" style="max-width: 300px; border-radius: 5px;" /></a></div>
<div class="col-md-3 col-xs-6 text-center pb-4"><a href="https://otrperformance.com/products/otr-diagnostics-paccar-package"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Paccar.jpg?v=1594757897" class="lazyload" alt="Paccar Diagnostic Package" width="100%" height="auto" style="max-width: 300px; border-radius: 5px;" /></a></div>
<div class="col-md-3 col-xs-6 text-center pb-4"><a href="https://otrperformance.com/products/otr-diagnostics-volvo-mack-package"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Volvo_Mack.jpg?v=1594757897" class="lazyload" alt="Volvo Mack Package" width="100%" height="auto" style="max-width: 300px; border-radius: 5px;" /></a></div>
</div>
<h3 class="text-center mb-0">Multiple Makes / Engines</h3>
<p class="text-center mb-4">Includes subscription, adapters, and harnesses.</p>
<div class="col-md-3 col-xs-6 text-center mx-auto pb-4"><a href="https://otrperformance.com/products/otr-diagnostics-professional-package"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/Professional.jpg?v=1594757897" class="lazyload" alt="Pro Package" width="100%" height="auto" style="max-width: 300px; border-radius: 5px;" /></a></div>
<hr class="hr-otr" />
<div class="row">
<div class="col-md-12 text-center mt-4">
<h4 class="text-center mb-1">Download the Instructions Manual</h4>
<a href="https://cdn.shopify.com/s/files/1/2628/2624/files/INSTRUCTIONS_OTRDiagnostics.pdf?v=1595943826"> <button class="btn-otr">Download Manual</button> </a></div>
</div>
</div>
<hr class="hr-otr" /><!-- faq -->
<div class="container mb-5">
<h3 class="text-center mb-3 mt-3">OTR Diagnostics FAQ</h3>
<div class="accordion" id="accordionExample">
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<h6 class="mt-2 mb-2">How does the subscription work? </h6>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
<div class="card-body">Subscriptions are based on a per yearly basis.</div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
<h6 class="mt-2 mb-2">Does this App need to be online to be used?</h6>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<div class="card-body">OTR Diagnostics is bluetooth based and does require you to have Wifi or cellular coverage for you to be able to use the app.</div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
<h6 class="mt-2 mb-2">I currently have a compatible Bluetooth Adapter. How can I purchase only a subscription?</h6>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
<div class="card-body">Stand-alone OTR Diagnostics subscriptions are available by contacting us - <a href="https://otrperformance.com/pages/contact"> Contact us today!</a></div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
<h6 class="mt-2 mb-2">If I have an existing OTR Performance account, how do I link my OTR Diagnostics subscription to the account?</h6>
</div>
<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
<div class="card-body">When purchasing a subscription, you must use the same email on your existing account when you are on the checkout page. Then it will automatically link your subscription to your existing account. If you are having problems managing your subscriptions, <a href="https://otrperformance.com/tools/recurring/get-subscription-access"> click here </a></div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
<h6 class="mt-2 mb-2">Which platforms Is OTR Diagnostics available for?</h6>
</div>
<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
<div class="card-body">OTR Diagnostics works on iOS and Android mobile phones and tablets.</div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
<h6 class="mt-2 mb-2">How do I create an account?</h6>
</div>
<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
<div class="card-body">
<p>We have a couple of different ways to create an account. You can create an account on a web browser OR by using the mobile app. Follow the details below to get started.</p>
<p>Create account with otrperformance.com</p>
<ul>
<li>Create an account on a web browser at <a href="https://otrperformance.com/account/register">OTR Performance</a></li>
<li>Purchase your subscription and use your email that is attached to your OTR account.</li>
<li>Download and use credentials created to use the mobile application.</li>
</ul>
<h5>OR</h5>
<p>Create account on the OTR Diagnostics mobile app</p>
<ul>
<li>You can register by using the app</li>
<li>Purchase your subscription and use your email that is attached to your OTR account.</li>
<li>Use credentials created to login into mobile "OTR Diagnostics" Application</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--download app-->
<div class="container mb-3 mt-3">
<div class="row">
<div class="col-md-6 text-center"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/iPhoneandIpad4.png?v=1593188737" style="max-height: 400px;" alt="ipad" /></div>
<div class="col-md-6 text-center my-auto">
<p class="mb-0">Now Available!</p>
<h3 class="text-center ">Download Today!</h3>
<div class="mt-5 mb-5">
<div class="row justify-content-center">
<div class="mb-4 mr-3"><a href="https://apps.apple.com/us/app/id1508165885"> <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Download_on_the_App_Store_Badge_US-UK_blk_092917-01.png?v=1584105244" class="lazyload mx-auto" alt="otr diagnostics ios" width="100%" height="auto" style="max-width: 150px;" /> </a></div>
<div class="mb-4"><a href="https://play.google.com/store/apps/details?id=com.otrperformance.simplcan"> <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/google-play-badge-01.png?v=1584106513" class="lazyload mx-auto" alt="otr diagnostics android" width="100%" height="auto" style="max-width: 170px;" /> </a></div>
</div>
</div>
</div>
</div>
</div>






<div class="container section-padding"><hr class="hr-otr" /><!--compare plans-->
<div class="mb-4 text-center">
<div class="modal-body text-center" style="width: 60%; margin: auto;">
<div class="card-header text-center" style="background-color: #339933;"><img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/multi-truck.svg?v=1588386728" class="otr-icon lazyload" alt="otricon" />
<p style="font-size: 26px; color: white;"><strong> Pro </strong></p>
</div>
<table>
<thead>
<tr></tr>
</thead>
<tbody class="oldCompare">
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> Multiple Vehicle Vin #</td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Read Inactive Fault Codes" data-content="Fault codes that indicate that there was a previous issue.">Read Inactive Fault Codes</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Active Fault Codes" data-content="Fault codes that determine that there is an existing issue. Certain active fault codes can be cleared, however, if the problem has not been fixed the fault code will reappear prompting you to seek service.">Read Active Fault Codes</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Clear Fault Codes" data-content="To get rid of active codes, all you have to do is reset the fault codes from the commands menu.">Clear Active Fault Codes</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Clear Emission Derates" data-content="DEF / SCR derates have stored values in the engine control module and aftertreatment control module (ECM/ACM). Reset of the DEF derate is necessary to perform after replacement of aftertreatment components.">Clear Emission Derates</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Start Forced DPF Regen" data-content="A forced DPF regen is performed when a diagnostic scan tool, such as the OTR Diagnostics, starts the regen process. The DPF soot load could be too high for a passive or active regen to occur, meaning you’ll need to perform a forced DPF regen.">Start Forced DPF Regen</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Offline Mode" data-content="Ability to use OTR Diagnostics even in locations with no service or data.">Offline Mode</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Fault Code History" data-content="Quickly reference recent fault codes, how often they occured and date stamp when it first occured.">Fault Code History</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Command History" data-content="View commands with status history for how long forced DPF regen lasted, clearing fault codes and reset aftertreatment status.">Command History</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Enhanced Fault Code Description" data-content="You’ll be provided with enhanced detail fault code information such as description, troubleshooting, symptoms, possible fixes and more.">Enhanced Fault Code Description</a></td>
</tr>
<tr>
<td><i class="fas fa-check" aria-hidden="true"></i> <a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus" title="Live Data" data-content="Ability to view live parameters making sure you are informed of how your vehicle is doing parameters include; DEF Fluid Level, DPF Soot Level, EGR Value Position, Aftertreatment Exhaust Temps and many more.">Live Data</a></td>
</tr>
</tbody>
</table>
</div>
</div>
<!--engine select-->
<div class="container section">
<h3 class="text-center mb-0">Select Your Engine To Start</h3>
<p class="text-center mb-4">Includes subscription, adapter, and harness.</p>
<div class="row py-2">
<div class="col-6"><a href="https://otrperformance.com/products/otr-diagnostics-cummins"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Cummins_b5df9c43-f0e4-49f8-a99e-60b9193e0904.jpg?v=1594758377" class="lazyload m-1" alt="Cummins Package" width="100%" height="auto" style="border-radius: 5px;" /></a></div>
<div class="col-6"><a href="https://otrperformance.com/products/otr-diagnostics-detroit-diesel-package"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Detroit_Diesel.jpg?v=1594757898" class="lazyload m-1" alt="Detroit Diesel Package" width="100%" height="auto" style="border-radius: 5px;" /></a></div>
</div>
<div class="row py-2">
<div class="col-6"><a href="https://otrperformance.com/products/otr-diagnostics-paccar-package"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Paccar_MX.jpg?v=1610491086" class="lazyload m-1" alt="Paccar MX Diagnostic Package" width="100%" height="auto" style="border-radius: 5px;" /></a></div>
<div class="col-6"><a href="https://otrperformance.com/products/otr-diagnostics-paccar-px"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Paccar_PX.jpg?v=1610491086" class="lazyload m-1" alt="Paccar PX Diagnostic Package" width="100%" height="auto" style="border-radius: 5px;" /></a></div>
</div>
<div class="row py-2">
<div class="col-3"></div>
<div class="col-6"><a href="https://otrperformance.com/products/otr-diagnostics-volvo-mack-package"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Volvo_Mack.jpg?v=1594757897" class="lazyload m-1" alt="Volvo Mack Package" width="100%" height="auto" style="border-radius: 5px;" /></a></div>
<div class="col-3"></div>
</div>
</div>
<h3 class="text-center mt-5 mb-0">Multiple Makes / Engines</h3>
<p class="text-center mb-4">Includes subscription, adapters, and harnesses.</p>
<div class="row py-2">
<div class="col-3"></div>
<div class="col-6"><a href="https://otrperformance.com/products/otr-diagnostics-professional-package"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Professional.jpg?v=1594757897" class="lazyload" alt="Pro Package" width="100%" height="auto" style="border-radius: 5px;" /></a></div>
<div class="col-3"></div>
</div>
<hr class="hr-otr" /><!-- faq -->
<div class="container mb-5">
<h3 class="text-center mb-3 mt-3">OTR Diagnostics FAQ</h3>
<div class="accordion" id="accordionExample">
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<h6 class="mt-2 mb-2">How does the subscription work? </h6>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
<div class="card-body">Subscriptions are based on a per yearly basis.</div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
<h6 class="mt-2 mb-2">Does this App need to be online to be used?</h6>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<div class="card-body">OTR Diagnostics is bluetooth based and does require you to have Wifi or cellular coverage for you to be able to use the app.</div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
<h6 class="mt-2 mb-2">I currently have a compatible Bluetooth Adapter. How can I purchase only a subscription?</h6>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
<div class="card-body">Stand-alone OTR Diagnostics subscriptions are available by contacting us - <a href="https://otrperformance.com/pages/contact"> Contact us today!</a></div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
<h6 class="mt-2 mb-2">If I have an existing OTR Performance account, how do I link my OTR Diagnostics subscription to the account?</h6>
</div>
<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
<div class="card-body">When purchasing a subscription, you must use the same email on your existing account when you are on the checkout page. Then it will automatically link your subscription to your existing account. If you are having problems managing your subscriptions, <a href="https://otrperformance.com/tools/recurring/get-subscription-access"> click here </a></div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
<h6 class="mt-2 mb-2">Which platforms Is OTR Diagnostics available for?</h6>
</div>
<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
<div class="card-body">OTR Diagnostics works on iOS and Android mobile phones and tablets.</div>
</div>
</div>
<div class="card" style="cursor: pointer;">
<div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
<h6 class="mt-2 mb-2">How do I create an account?</h6>
</div>
<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
<div class="card-body">
<p>We have a couple of different ways to create an account. You can create an account on a web browser OR by using the mobile app. Follow the details below to get started.</p>
<p>Create account with otrperformance.com</p>
<ul>
<li>Create an account on a web browser at <a href="https://otrperformance.com/account/register">OTR Performance</a></li>
<li>Purchase your subscription and use your email that is attached to your OTR account.</li>
<li>Download and use credentials created to use the mobile application.</li>
</ul>
<h5>OR</h5>
<p>Create account on the OTR Diagnostics mobile app</p>
<ul>
<li>You can register by using the app</li>
<li>Purchase your subscription and use your email that is attached to your OTR account.</li>
<li>Use credentials created to login into mobile "OTR Diagnostics" Application</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--60 day guarantee-->
<div class="container mb-4 pt-4">
<div class="row">
<div class="col-md-6 col-sm-6"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/MoneyBack-Guarnatee_60_Day.png?v=1583943641" class="lazyload" style="max-width: 100px;" alt="60dayguarantee" />
<h5 class="mb-2 mt-2">60-Day Guarantee</h5>
<p style="font-size: 12px;">Includes a 60-day, no-hassle money-back guarantee. If this doesn’t fit your needs for any reason, just let us know within 60-days of receiving your order, and we’ll refund 100% of your purchase price. We’ve got your back.</p>
</div>
<div class="col-md-6 col-sm-6"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/MoneyBack-Guarnatee_USA.png?v=1583943641" class="lazyload" style="max-width: 100px;" alt="usasupport" />
<h5 class="mb-2 mt-2">USA Support</h5>
<p style="font-size: 12px;">Located in Detroit MI, (EST). A truly committed team of trained experts that are there to assist with any customer service, technical support or general questions you may have. No bots. Real help from real people, when you need us! Contact us via phone, chat, or email anytime.</p>
</div>
</div>
</div>
<!--download app-->
<div class="container mb-3 mt-3">
<div class="row">
<div class="col-md-6 text-center"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/iPhoneandIpad4.png?v=1593188737" style="max-height: 400px;" alt="ipad" /></div>
<div class="col-md-6 text-center my-auto">
<p class="mb-0">Now Available!</p>
<h3 class="text-center ">Download Today!</h3>
<div class="mt-5 mb-5">
<div class="row justify-content-center">
<div class="mb-4 mr-3"><a href="https://apps.apple.com/us/app/id1508165885"> <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Download_on_the_App_Store_Badge_US-UK_blk_092917-01.png?v=1584105244" class="lazyload mx-auto" alt="otr diagnostics ios" width="100%" height="auto" style="max-width: 150px;" /> </a></div>
<div class="mb-4"><a href="https://play.google.com/store/apps/details?id=com.otrperformance.simplcan"> <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/google-play-badge-01.png?v=1584106513" class="lazyload mx-auto" alt="otr diagnostics android" width="100%" height="auto" style="max-width: 170px;" /> </a></div>
</div>
</div>
</div>
</div>
</div>
</div>







<div class="container mb-4 pb-4">
<h3 class="text-center">Promo Codes, Coupons, Discounts, Deals, Offers - OTR Performance</h3>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="card text-center mb-3">
<div class="card-header">No Coupons At The moment</div>
<div class="card-body">
<h5 class="card-title mb-1">Please check back for updates on future coupons, promotions, and deals.</h5>
<p class="card-text">Thank you!</p>
<a href="https://otrperformance.com/collections/reset-tools" style="width: 100%;"> <button class="btn-otr" style="width: 100%;">Shop</button> </a></div>
</div>
</div>
</div>
</div>
<div class="container mt-4">
<p>Shop OTR Performance latest coupon, promo code, and deals in one easy-to-shop spot. Find great online offers and in-store deals on your OTR Performance reset tool, diagnostic package and heavy-duty tools</p>
<p>Check out our amazing deals, available every day for Volvo, Mack, Peterbilt, Kenworth, Freightliner, International, Western Star Trucks and Cummins, Paccar MX, Detroit Diesel Engines!</p>
</div>
<div class="mt-4">
<h6 class="text-center">Exclusions: While supplies last. May not be used with any other promotions/discounts. Cannot be claimed on past orders.</h6>
</div>