<div class="banner-section-quiz mb-4" style="background-image: url(https://cdn.shopify.com/s/files/1/2628/2624/files/DX_Banner_BG5.png?v=1695304727);">
  <div class="banner-content-quiz">
    <h2 style="max-width: 250px;">Diagnostics at your fingertips</h2>
    <p style="max-width: 300px;">Know what’s going on with your truck and stay ahead of issues </p>
    <a href="https://otrperformance.com/pages/otrdiagnostics" style="color: #fff;" class="btn-otr">About OTR Diagnostics</a>
  </div>
</div>