<div class="container mt-1 p-0">
  <p style="font-size: 13px; font-weight: bold;">Price includes:</p>
    <div class="row mb-2" max-width="300px;">
        <div class="col">
            <div class="card" style="border: none; background-color: #33993310;">
                <p class="text-center pl-3 pr-2 mt-1 pt-2" style="font-size: 14px; font-weight: 600;"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/200b.png?v=1699646792" style="max-width: 30px;">  one time purchase hardware</p>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border: none; background-color: #33993310;">
                <p class="text-center pl-2 pr-2 mt-1 pt-2" style="font-size: 14px; font-weight: 600;"><img src="https://cdn.shopify.com/s/files/1/2628/2624/files/600b.png?v=1699646792" style="max-width: 30px;">  12-month auto renew subscription</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <p style="text-align: left"><span style="color: #339933;"><i class="fa-solid fa-circle-check"></i></span> Packages include all needed hardware and first year subscription. </p>
            <p style="text-align: left"><span style="color: #339933;"><i class="fa-solid fa-circle-check"></i></span> Subscription automatically renews after one year unless canceled (cancel at any time).</p>
            <p style="text-align: left"><span style="color: #339933;"><i class="fa-solid fa-circle-check"></i> </span> Works on iOS and Android.</p>
            <p class="mb-3" style="color: #339933; text-align: left;"><span style="color: #339933;"><i class="fa-solid fa-circle-check"></i> </span><a tabindex="0" style="cursor: pointer; text-decoration: underline;" data-toggle="popover" data-trigger="focus"  data-placement="right"  title="60-Day Guarantee" data-content="Includes a 60-day, no-hassle money-back guarantee. If this doesn’t fit your needs for any reason, just let us know within 60-days of receiving your order, and we’ll refund 100% of your purchase price. We’ve got your back.">Comes with a 60-day money-back guarantee.</a></p>
        </div>
    </div>
    <div class="mb-4 mt-2" style="text-align: left;">
        <!-- available engines modal -->
        <a class="btn-otr-outline" style="cursor: pointer;" data-toggle="modal" data-target="#availableModalScrollable">Engine Coverage</a>
        <!--modal-->
        <div class="modal fade" id="availableModalScrollable" tabindex="-1" role="dialog" aria-labelledby="availableModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:850px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center">Engine Coverage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body text-center">
                  <div class="container section" style="margin: 0; padding: 0;">

                    <table width="100%">
                      <tbody>
                        <tr style="background-color:#33993327">
                          <td><strong>Manufacturer</strong></td>
                          <td><strong>Engine Model</strong></td>
                          <td><strong>Year</strong></td>
                        </tr>
                        <tr>
                          <td>Cummins</td>
                          <td>CM871, CM2150, CM2250, CM2350, CM2450</td>
                          <td>2008-2023</td>
                        </tr>
                        <tr style="background-color:#33993327">
                          <td>Detroit Diesel</td>
                          <td>DD60, MBE, DD13, DD15, DD16</td>
                          <td>2008-2020</td>
                        </tr>
                        <tr>
                          <td>Paccar MX </td>
                          <td>MX11, MX13&nbsp;</td>
                          <td>2011-2021</td>
                        </tr>
                        <tr style="background-color:#33993327">
                          <td>Paccar PX</td>
                          <td>PX7, PX9</td>
                          <td>2008-2023</td>
                        </tr>
                        <tr>
                          <td>Volvo</td>
                          <td>D12, D11, D13, D13TC, D16</td>
                          <td>2014-2023</td>
                        </tr>
                        <tr style="background-color:#33993327">
                          <td>Mack</td>
                          <td>MP7, MP8, MP8HE, MP10&nbsp;</td>
                          <td>2014-2023</td>
                        </tr>
                      </tbody>
                    </table>
                    <h5 class="text-center mt-3 pt-2">Command List </h5>
                    <p>Tap to learn about which specific make, model, and commands are supported, by each engine</p>
                    <div class="accordion" id="exampleAccordion">
                      <div class="card" style="cursor: pointer;">
                        <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                          <p class="mt-2 mb-2"><b> Cummins</b></p>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#exampleAccordion">
                          <div class="card-body">
                            <p><em>9 Pin Plug</em></p>
                            <div class="custom-content" style="text-align: left;">
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2008-2010</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2011-2013</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2014-2016</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2017-2023</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                            </div>

                            <h5 class="mb-1">ENGINES COVERED</h5>
                            <meta charset="utf-8">
                            <div style="overflow-x: scroll;">
                              <table width="100%">
                              <tbody>
                                <tr>
                                  <td><strong>Engine</strong></td>
                                  <td><strong>Model</strong></td>
                                  <td><strong>Emission</strong></td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td><meta charset="utf-8"> <span>Cummins X15</span></td>
                                  <td>CM2450</td>
                                  <td>2020-2023</td>
                                </tr>
                                <tr>
                                  <td>Cummins X15</td>
                                  <td>CM2350</td>
                                  <td>2013-2019</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins ISX15&nbsp;</td>
                                  <td>CM2350</td>
                                  <td>2013-2019</td>
                                </tr>
                                <tr>
                                  <td>Cummins&nbsp;ISX15</td>
                                  <td>CM2250</td>
                                  <td>2011-2012</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins&nbsp;ISX15</td>
                                  <td>CM871</td>
                                  <td>2008-2010</td>
                                </tr>
                                <tr>
                                  <td>Cummins&nbsp;ISB6.7</td>
                                  <td>CM2350</td>
                                  <td>2014-2023</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins&nbsp;ISC8.3</td>
                                  <td>CM2350</td>
                                  <td>2014-2023</td>
                                </tr>
                                <tr>
                                  <td>Cummins&nbsp;ISL9</td>
                                  <td>CM2350</td>
                                  <td>2013-2023</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins X12</td>
                                  <td>CM2350A</td>
                                  <td>2013-2023</td>
                                </tr>
                                <tr>
                                  <td>Cummins&nbsp;ISB6.7</td>
                                  <td>CM2250</td>
                                  <td>2011-2013</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins&nbsp;ISC8.3</td>
                                  <td>CM2250</td>
                                  <td>2011-2013</td>
                                </tr>
                                <tr>
                                  <td>Cummins&nbsp;ISL9</td>
                                  <td>CM2250</td>
                                  <td>2011-2013</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins&nbsp;ISB 6.7</td>
                                  <td>CM2150</td>
                                  <td>2008-2010</td>
                                </tr>
                                <tr>
                                  <td>Cummins&nbsp;ISC8.3</td>
                                  <td>CM2150</td>
                                  <td>2008-2010</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Cummins&nbsp;ISL9</td>
                                  <td>CM2150</td>
                                  <td>2008-2010</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                      <div class="card" style="cursor: pointer;">
                        <div class="card-header" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                          <p class="mt-2 mb-2"><b>Detroit Diesel</b></p>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#exampleAccordion">
                          <div class="card-body">
                            <p>9 Pin Plug</p>
                            <div class="custom-content" style="text-align: left;">
                              <div class="custom__item small--one-whole  one-half ">
                                <h5><em>2008-2010</em></h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset Ash Accumulator</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2011-2013</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset Ash Accumulator</li>
                                  <li>Reset SCR Accumulator</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2014-2016</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset Ash Accumulator</li>
                                  <li>Reset SCR Accumulator</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2017-2020</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset Ash Accumulator</li>
                                  <li>Reset SCR Accumulator</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                            </div>

                            <h5 class="mb-1">ENGINES COVERED (9pin)</h5>
                            <table width="100%">
                              <tbody>
                                <tr>
                                  <td><strong>Engine</strong></td>
                                  <td><strong>Emission</strong></td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>DD60</td>
                                  <td>EPA07 (DPF Only)</td>
                                </tr>
                                <tr>
                                  <td>DD13&nbsp;</td>
                                  <td>EPA07 (DPF Only)</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>DD15&nbsp;</td>
                                  <td>EPA07 (DPF Only)</td>
                                </tr>
                                <tr>
                                  <td>DD60&nbsp;</td>
                                  <td>EPA10 (DPF + DEF)</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>DD13&nbsp;</td>
                                  <td>EPA10 (DPF + DEF)</td>
                                </tr>
                                <tr>
                                  <td>DD15&nbsp;</td>
                                  <td>EPA10 (DPF + DEF)</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>DD16&nbsp;</td>
                                  <td>EPA10 (DPF + DEF)</td>
                                </tr>
                                <tr>
                                  <td>DD13&nbsp;</td>
                                  <td>GHG14 | GHG17 (DPF + DEF)</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>DD15&nbsp;</td>
                                  <td>GHG14 | GHG17 (DPF + DEF)</td>
                                </tr>
                                <tr>
                                  <td style="width: 50%;">DD16&nbsp;</td>
                                  <td style="width: 50%;">GHG14 | GHG17 (DPF + DEF)</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="card" style="cursor: pointer;">
                        <div class="card-header" id="headingNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                          <p class="mt-2 mb-2"><b>Paccar MX</b></p>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#exampleAccordion">
                          <div class="card-body">
                            <p><em>9 Pin Plug (Black connector on truck side)&nbsp;</em></p>
                            <p><em>Paccar 9 Pin CAN Adapter (Green connector on truck side) (2016-2021)</em></p>
                            <div class="custom-content" style="text-align: left;">
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2011-2013</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset EGR Derate</li>
                                  <li>Reset 5MPH DEF Derate</li>
                                  <li>Install a cleaned DPF</li>
                                  <li>Install a new DPF</li>
                                  <li>Purge SCR/DEF Module</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2014-2016</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset EGR Derate</li>
                                  <li>Reset 5MPH DEF Derate</li>
                                  <li>Install a cleaned DPF</li>
                                  <li>Install a new DPF</li>
                                  <li>Purge SCR/DEF Module</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2017-2019</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset EGR Derate</li>
                                  <li>Reset 5MPH DEF Derate</li>
                                  <li>Install a cleaned DPF</li>
                                  <li>Install a new DPF</li>
                                  <li>Purge SCR/DEF Module</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2020-2021</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset 5MPH DEF Derate</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                            </div>
                            <h5>Engines Covered (9pin)</h5>
                            <table width="100%" style="overflow-x: scroll;">
                              <tbody>
                                <tr>
                                  <td style="width: 48.8764%;"><strong>Engine MX</strong></td>
                                  <td style="width: 48.5019%;"><strong>Emission</strong></td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td style="width: 48.8764%;">Paccar MX-11</td>
                                  <td style="width: 48.5019%;">EPA10</td>
                                </tr>
                                <tr>
                                  <td style="width: 48.8764%;">Paccar MX-11</td>
                                  <td style="width: 48.5019%;">EPA13</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td style="width: 48.8764%;">Paccar MX-11&nbsp;</td>
                                  <td style="width: 48.5019%;">EPA17</td>
                                </tr>
                                <tr>
                                  <td style="width: 48.8764%;">Paccar MX-13&nbsp;</td>
                                  <td style="width: 48.5019%;">EPA10</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td style="width: 48.8764%;">Paccar MX-13&nbsp;</td>
                                  <td style="width: 48.5019%;">EPA13</td>
                                </tr>
                                <tr>
                                  <td style="width: 48.8764%;">Paccar MX-13&nbsp;</td>
                                  <td style="width: 48.5019%;">EPA17</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="card" style="cursor: pointer;">
                        <div class="card-header" id="headingTen" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                          <p class="mt-2 mb-2"><b>Paccar PX</b></p>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#exampleAccordion">
                          <div class="card-body">
                            <p><em>9 Pin Plug</em></p>
                            <div class="custom-content" style="text-align: left;">
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2008-2010</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2011-2013</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2014-2016</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2017-2023</h5>
                                <ul>
                                  <li>Reset Cummins Fault Codes</li>
                                  <li>Reset Generic Fault Codes</li>
                                  <li>Aftertreatment Maintenance Reset All</li>
                                  <li>Aftertreatment Maintenance Filter Installation</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                            </div>

                            <h5>Engines Covered (9pin)</h5>
                            <table>
                              <tbody>
                                <tr>
                                  <td><strong>Engine</strong></td>
                                  <td><strong>Emission</strong></td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Paccar PX-6</td>
                                  <td>EPA07, EPA10, EPA13, EPA17, EPA21</td>
                                </tr>
                                <tr>
                                  <td>Paccar PX-7</td>
                                  <td>EPA07, EPA10, EPA13, EPA17, EPA21</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>Paccar PX-8</td>
                                  <td>EPA07, EPA10, EPA13, EPA17, EPA21</td>
                                </tr>
                                <tr>
                                  <td>Paccar PX-9</td>
                                  <td>EPA07, EPA10, EPA13, EPA17, EPA21</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="card" style="cursor: pointer;">
                        <div class="card-header" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                          <p class="mt-2 mb-2"><b>Volvo | Mack</b></p>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#exampleAccordion">
                          <div class="card-body">
                            <div class="custom-content" style="text-align: left;">
                              <div class="custom__item small--one-whole  one-half ">
                                <h5>2014-2023</h5>
                                <ul>
                                  <li>Reset Fault Codes</li>
                                  <li>Reset Soot Level</li>
                                  <li>Start Forced DPF Regen</li>
                                </ul>
                              </div>
                            </div>
                            <h5 class="mb-1">Engines Covered</h5>
                            <table class="mb-2">
                              <tbody>
                                <tr>
                                  <td><strong>Volvo Engine (OBD)</strong></td>
                                  <td><strong>Emission</strong></td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>D11</td>
                                  <td>EPA13, EPA17, EPA21</td>
                                </tr>
                                <tr>
                                  <td>D13| D13TC</td>
                                  <td>EPA13, EPA17, EPA21</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>D16</td>
                                  <td>EPA13</td>
                                </tr>
                                <tr>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td><strong>Mack Engine (OBD)</strong></td>
                                  <td><strong>Emission</strong></td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>MP7</td>
                                  <td>EPA13, EPA17, EPA21&nbsp;*MRU/LEU Supported</td>
                                </tr>
                                <tr>
                                  <td>MP8 | MP8HE</td>
                                  <td>EPA13, EPA17, EPA21</td>
                                </tr>
                                <tr style="background-color:#33993327">
                                  <td>MP10</td>
                                  <td>EPA13</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-otr" data-dismiss="modal" style="margin:auto;">Close</button>
                </div>
            </div>
        </div>
    </div>

        <!--Subscription features button-->
        <a class="btn-otr-outline ml-1" style="cursor: pointer;" data-toggle="modal" data-target="#featuresModalScrollable2"> App Features</a>
        <!-- Modal -->
        <div class="modal fade" id="featuresModalScrollable2" tabindex="-1" role="dialog" aria-labelledby="featuresModalScrollableTitle2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle2">Pro Features</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row" style="max-width: 400px; margin: auto;">
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fak fa-otr-icons-truck fa-2x"></i></span>
                                        <h5 class="mb-0"><b>Multiple Vehicles</b></h5>
                                        <p class="mb-0">Get full diagnostic access to an unlimited number of vehicles with a variety of makes and engines.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fak fa-reset-engine-code fa-2x"></i></span>
                                        <h5 class="mb-0"><b>Read and Reset Fault Codes</b></h5>
                                        <p class="mb-0">View/reset active and inactive fault codes. Detailed descriptions provide troubleshooting, history, possible fixes.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fak fa-otr-main-menu-history fa-2x"></i></span>
                                        <h5 class="mb-0"><b>Fault Code & Command History</b></h5>
                                        <p class="mb-0">Know how often and when a fault code was cleared or a forced DPF regen lasted.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fak fa-reset-aftertreatment2 fa-2x"></i></span>
                                        <h5 class="mb-0"><b>Reset Emission Derates</b></h5>
                                        <p class="mb-0">When you’ve replaced aftertreatment components to comply with a derate, you can reset the aftertreatment values and be on your way.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fak fa-forced-dpf-regen fa-2x"></i></span>
                                        <h5 class="mb-0"><b>Start Forced DPF Regen</b></h5>
                                        <p class="mb-0">Perform a forced regen when you’re unable to initiate a passive or active regen due to a high soot load or other variables. </p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fak fa-otr-main-menu-live-data fa-2x"></i></span>
                                        <h5 class="mb-0"><b>Live Data</b></h5>
                                        <p class="mb-0">Viewing live data keeps you informed about your vehicle at any moment. Data includes: DEF Fluid Level, DPF Soot Level, EGR Value Position, Aftertreatment Exhaust Temps, +more.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card text-center p-2 mb-2" style="border: none; background-color: #33993310;"> <span style="text-align: center"><i class="fa-light fa-cloud-xmark"></i></span>
                                        <h5 class="mb-0"><b>Offline Mode</b></h5>
                                        <p class="mb-0">Use OTR Diagnostics even in locations with no service or data with up to 14-days from your last online session. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-otr" data-dismiss="modal" style="margin: auto;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
