<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-sm-12 p-1">
            <div class="card text-center" style="border: 1px dashed">
                <div class="card-body p-1">
                    <p class="card-title badge badge-secondary">Promotion</p>
                    <br>
                    Free hardware with <strong>PRO</strong> plan<br>Use code: 
                    <strong>freehardwarepro</strong>
                    <p class="disclaimer mb-1"> Ends 3/31/2021 </p>
                </div>
            </div>
        </div>
    </div>
</div>
