<div class="container section">

  <div class="row text-center">
    <div class="col-4 col-md-4 col-lg-4 col-sm-4 col-xl-4" style="margin-bottom: 10px">
      <a href="/collections/subscriptions">
        <img src="https://cdn.shopify.com/s/files/1/2628/2624/products/Sub_12Mo_Card_Subscriptioncard.png" height="100px" width="100px" alt="12 month subscription">
      </a>
    </div>
    <div class="col-8 col-md-8 col-lg-8 col-sm-8 col-xl-8" style="text-align:left;">
      <h5 class="mb-2">Already own the hardware? Buy only the subscription below! </h5>
      <p style="font-size:10px;"><i>Note: App needs both Subscription & Hardware to work. Only buy the subscription if you have an OTR Link/BlueLink Mini already.</i></p>
      
      <a href="/collections/subscriptions" style="border: 2px solid #393; border-radius: 7px; color: #393; padding: 5px; text-align:center;">
        Subscription Only
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12 mx-auto" style="">

    </div>
  </div>
</div>
