<div class="mt-4 mb-4">
  <h5 class="mb-3 mt-0 text-center">Available on:</h5>
    <div class="row justify-content-center">
      
        <div class="mb-4 mr-3"> 
          <a href="https://apps.apple.com/us/app/id1508165885"> 
          <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Download_on_the_App_Store_Badge_US-UK_blk_092917-01.png?v=1584105244" class="lazyload mx-auto" alt="otr diagnostics ios" width="100%" height="auto" style="max-width: 100px;"> </a><br>
        </div>
        <div class="mb-4"> 
          <a href="https://play.google.com/store/apps/details?id=com.otrperformance.simplcan"> 
          <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/google-play-badge-01.png?v=1584106513" class="lazyload mx-auto" alt="otr diagnostics android" width="100%" height="auto" style="max-width: 110px;"> </a><br>
        </div>
    </div>
</div>