<div class="container mb-4 mt-1">
    <div class="row mx-auto">
        <div class="col-md-6 mb-3 text-center" style="width: 50%"> <img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/stop-red.svg?v=1588386728" class="mb-1 lazyload" style="max-height: 35px;" alt="5mph derate">
            <p class="m-0">Reset 5mph Derate<a href="#bottom"><sup>3</sup></a></p>
        </div>
        <div class="col-md-6 mb-3 text-center" style="width: 50%"> <img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/triangle-orange.svg?v=1588386728" class="mb-1 lazyload" style="max-height: 35px" alt="aftertreatment">
            <p class="m-0">Reset Aftertreatment</p>
        </div>
        <div class="col-md-6 mb-3 text-center" style="width: 50%"> <img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/dpf-orange.svg?v=1588386728" class="mb-1 lazyload" style="max-height: 41px" alt="regen">
            <p class="m-0">Start Forced DPR Regen</p>
        </div>
        <div class="col-md-6 mb-3 text-center" style="width: 50%"> <img data-src="https://cdn.shopify.com/s/files/1/2628/2624/files/engine-orange.svg?v=1588386728" class="mb-1 lazyload" style="max-height: 35px" alt="faults">
            <p class="m-0">Reset Fault Codes</p>
        </div>
    </div>
</div>

<hr class="hr--small">
