<p><b>Looking to learn more?</b> Check out our other blog posts.</p>
<ul>
<li><a href="https://otrperformance.com/blogs/quick-tips/how-long-should-a-forced-dpf-regeneration-last-as-well-as-other-tell-tale-symptoms-of-a-successful-or-unsuccessful-forced-dpf-regeneration">How long should a forced DPF regeneration last?</a></li>
<li><a href="https://otrperformance.com/blogs/quick-tips/how-long-should-a-forced-dpf-regeneration-last-as-well-as-other-tell-tale-symptoms-of-a-successful-or-unsuccessful-forced-dpf-regeneration">Tell-tale symptoms of a successful (or unsuccessful) forced DPF regeneration.</a></li>
<li><a href="https://otrperformance.com/blogs/quick-tips/face-plugging-the-doc-filter">What is face plugging? How does it happen? How can I fix it?</a></li>
<li><a href="https://otrperformance.com/blogs/quick-tips/what-happens-if-your-truck-can-no-longer-regen">What happens if your truck can no longer regen?</a></li>
<li><a href="https://otrperformance.com/blogs/quick-tips/what-is-a-forced-regeneration">What is Forced DPF Regen?</a></li>
<li><a href="https://otrperformance.com/blogs/quick-tips/common-dpf-questions-answered">Common DPF questions Answered!</a></li>
<li><a href="https://otrperformance.com/blogs/quick-tips/what-does-poor-def-quality-mean">What does poor DEF quality Mean?</a></li>
</ul>
<p>OTR Diagnostics allows you to read and reset fault codes, view live data, and run advanced diagnostic functions, including forced DPF regen with your mobile phone or tablet. </p>
<ul>
<li><a href="https://otrperformance.com/collections/diagnostic-packages/products/otr-diagnostics-professional-package">Shop OTR Diagnostics | Professional (All-in-One) Engines</a></li>
</ul>
<!-- <p>The OTR Reset Tool is specific to which model and engine you have. Select which engine for more specific details.  </p>
<ul>
<li><a href="https://otrperformance.com/products/otr-reset-tool-volvo-mack">Volvo D11, D13, D16 Engines</a></li>
<li><a href="https://otrperformance.com/products/otr-reset-tool-volvo-mack">Mack MP7, MP8, MP10 Engines</a></li>
<li><a href="https://otrperformance.com/products/otr-reset-tool-cummins">Cummins ISB, ISL, ISX and Paccar PX Engines</a></li>
<li><a href="https://otrperformance.com/products/otr-reset-tool-paccar-mx">Paccar MX-11, MX-13 Engines</a></li>
<li><a href="https://otrperformance.com/products/otr-reset-tool-detroit-diesel">Detroit Diesel S60, DD13, DD15, DD16 Engines</a></li>
<li><a href="https://otrperformance.com/products/otr-reset-tool-international">International Maxxforce 11/13 N13 N9 N10 Engines</a></li>
</ul> -->
