{% comment %} <div class="mt-3">
<a href="https://otrperformance.com/collections/memorial-day-sale"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/MDS_Banner2.png?v=1684506542" class="mobile"></a>
<a href="https://otrperformance.com/collections/memorial-day-sale"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/MDS_Banner2.png?v=1684506542" class="desktop"></a>
<div class="text-center mb-3" style="font-size: 12px; " >Exclusions apply. <a type="button" class="text-center" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" title="Offer details" data-content="*Offer expires 5/31/23. Cannot be combined with another offer. Valid only at otrperformance.com. OTR Diagnostics package discount available for first-time subscribers.">
   <span style="text-decoration: underline; color: #339933">See terms.</span>
</a></div>
</div> {% endcomment %}