<div class="container-fluid mt-3 mb-3">
<div class="col-md-12 text-center" style="font-size: 12px;">
  
  <p> <a href="https://otrperformance.com/pages/privacy-policy">Privacy Policy</a> |  <a href="https://otrperformance.com/pages/terms-and-conditions">Terms and Conditions</a> </p>
  
  </div>
</div>
