<!-- /templates/list-collections.liquid -->
{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}
<!-- 
<a href="https://otrperformance.com/collections"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/CM_Compressed-11.jpg?v=1669657438" class="desktop"></a>
<a href="https://otrperformance.com/collections"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/CM_Compressed-11.jpg?v=1669657438" class="mobile"></a>
 -->
{% section 'list-collections-template' %}
